<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOMMERCE</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="/reload/reload.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-GilroyRegular bg-gradient-to-l from-[#DF0EB1] to-[#6705A3] m-6 rounded-xl">
    <nav class="bg-[#EEE6FA] shadow-sm flex p-6 rounded-t-2xl">
      <h6 class="flex-grow text-2xl font-bold"">Almacelme</h6>
      <img class="rounded-full w-[45px] h-[45px]" src="../images/user-default.png"/>
    </nav>
    <nav class="flex bg-[#EEE6FA] shadow-sm rounded-bl-2xl h-5/6">
        <div class="p-6 border-r border-gray-200 w-64">
            <h6 class="font-bold mb-4 text-lg">Acciones rapidas</h6>
            <ul>
                <li class="flex mb-8 shadow-sm hover:shadow-inner hover:ring-1 text-[#717171]"><i class='bx bx-home p-2 mr-3 rounded-lg'></i><span class="self-center">Inicio</span></li>
                <li class="flex mb-8 shadow-sm hover:shadow-inner hover:ring-1 text-[#717171]"><i class='bx bxs-user-detail bg-white shadow-sm p-2 mr-3 rounded-lg'></i><span class="self-center">Clientes</span></li>
                <li class="flex mb-8 shadow-sm hover:shadow-inner hover:ring-1 text-[#717171]"><i class='bx bx-bar-chart-alt-2 bg-white shadow-sm p-2 mr-3 rounded-lg'></i><span class="self-center">Ventas</span></li>
            </ul>
            <h6 class="font-bold mb-4">Configuracion</h6>
            <ul>
                <li class="flex mb-8 shadow-sm hover:shadow-inner hover:ring-1 text-[#717171]"><i class='bx bx-user bg-white shadow-sm p-2 mr-3 rounded-lg'></i><span class="self-center">Perfil</span></li>
                <li class="flex mb-8 shadow-sm hover:shadow-inner hover:ring-1 text-[#717171]"><i class='bx bx-cog bg-white shadow-sm p-2 mr-3 rounded-lg'></i><span class="self-center">Ajustes</span></li>
            </ul>
        </div>
    </nav>
  </body>
</html>
