<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOMMERCE</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="/reload/reload.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-700 bg-opacity-75 font-GilroyRegular">
    <main>
      <div class="container" id="a">
        <div class="bg-white shadow-lg p-6 rounded-2xl">
          <button class="flex font-bold">
            <i
              id="close-modal"
              class="bx bx-arrow-back text-2xl"
              id="close-cart"
            ></i>
            <span class="text-sm self-center ml-2"> Volver </span>
          </button>
          <div id="pictures" class="flex gap-1">
            <div class="grid place-content-center">
              <img
                class="w-9 h-9 border-2 border-gray-800 rounded-lg"
                src="https://res.cloudinary.com/dywphbg73/image/upload/v1663098494/PS-2022-ProductImages/Cerveza-Imperial-Goden-473cc-Six-Pack-1-829046_nc2fyu.webp"
              />
            </div>
            <div id="picture">
              <img
                class="w-96 h-96 rounded-3xl"
                src="https://res.cloudinary.com/dywphbg73/image/upload/v1663098494/PS-2022-ProductImages/Cerveza-Imperial-Goden-473cc-Six-Pack-1-829046_nc2fyu.webp"
              />
            </div>
            <div class="w-1/3 p-4">
              <h1 class="font-bold text-2xl mb-3 text-textColor">
                Yerba Mate Playadito Suave X1kg
              </h1>
              <p class="font-light text-sm mb-3 text-gray-600">Playadito</p>
              <p class="font-semibold text-base mb-3">Detalles</p>
              <p class="text-sm font-normal mb-3">Yerba Mate x1kg</p>
            </div>
            <!-- Item Details -->
            <div class="w-1/3 grid grid-flow-row">
              <div class="border rounded-2xl shadow-lg h-52">
                <h1 class="font-extrabold text-2xl text-textColor p-4">
                  $ 790
                </h1>
                <p class="text-orange-500 font-semibold text-lg p-4">
                  Envio Gratis
                </p>
                <div class="grid grid-cols-2 gap-2 mt-4 p-4">
                  <div
                    class="center text-center border-slate-200 border rounded-2xl select-none"
                  >
                    <span
                      ><i
                        id="quantity-decrement"
                        class="bx bx-minus text-xl cursor-pointer text-green-500 mr-4"
                      ></i
                    ></span>
                    <span
                      id="quantity"
                      class="bg-white rounded-2xl w-14 text-xl text-center focus:outline-none"
                      >1</span
                    >
                    <span
                      ><i
                        id="quantity-increment"
                        class="bx bx-plus text-xl cursor-pointer text-green-500 ml-4"
                      ></i
                    ></span>
                  </div>
                  <button
                    class="border-slate-200 border rounded-2xl bg-green-500 text-white font-normal hover:ring-green-500 hover:outline-none hover:ring-2"
                  >
                    <i class="bx bxs-cart-add"></i>
                    AGREGAR
                  </button>
                </div>
                <div class="grid place-content-center mt-10">
                  <div class="flex justify-center align-middle">
                    <i
                      class="bx bx-check-circle text-lg font-semibold text-blue-500 mr-1"
                    ></i>
                    <span
                      class="text-[#343538] text-sm font-semibold self-center"
                      >100% de satisfaccion garantizada</span
                    >
                  </div>
                  <div
                    id="favorites"
                    class="grid grid-cols-2 gap-8 place-content-center mt-5"
                  >
                    <div class="flex justify-center align-middle">
                      <i
                        id="favorite"
                        class="bx bx-heart text-2xl text-gray-400 hover:text-red-500 cursor-pointer mr-2"
                      ></i>
                      <span
                        class="text-[#343538] text-sm font-semibold self-center"
                        >Favorito</span
                      >
                    </div>
                    <div class="flex justify-center align-middle">
                      <i
                        id="share"
                        class="bx bx-share text-2xl text-gray-400 hover:text-blue-500 cursor-pointer mr-2"
                      ></i>
                      <span
                        class="text-[#343538] text-sm font-semibold self-center"
                        >Compartir</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section id="Often-Bought-With" class="mt-6">
            <h1 class="font-extrabold text-2xl">
              Comprados juntos habitualmente
            </h1>
            <div id="product-list-bought" class="grid grid-cols-5 gap-1">
              <div id="1" class="rounded-2xl p-2 text-textColor">
                <div class="ml-4 mt-3">
                  <button
                    class="absolute bg-green-500 rounded-2xl w-auto flex p-1"
                  >
                    <i
                      class="bx bx-list-check text-2xl text-white cursor-pointer mr-1"
                    ></i>
                    <span
                      class="text-white text-sm font-semibold self-center mr-1"
                      >Agregar</span
                    >
                  </button>
                </div>
                <img
                  src="https://res.cloudinary.com/dywphbg73/image/upload/v1663098493/PS-2022-ProductImages/Agua-Baja-En-Sodio-Glaciar-2-L-2-237513_u085yv.webp"
                />
                <h2 class="font-bold text-xl ml-2">$ 158</h2>
                <h1 class="font-semibold text-lg ml-2">
                  Agua Baja En Sodio Glaciar 2 L
                </h1>
                <div class="flex ml-2">
                  <i
                    class="bx bx-list-check text-2xl text-green-400 cursor-pointer mr-2"
                  ></i>
                  <span class="text-textColor text-sm font-semibold self-center"
                    >En stock</span
                  >
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bottom-0 w-full sticky hidden">
      <div class="bg-gray-100 p-4">
        <div class="grid grid-cols-3 gap-4">
          <div class="text-center">
            <h3 class="text-xl font-bold">Almacelme</h3>
          </div>
          <div class="text-center">
            <i class="bx bxl-twitter"></i>
            <i class="bx bxl-instagram"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-instagram"></i>
            <p class="text-sm">Todos los derechos reservados</p>
          </div>
          <div>
            <h3 class="text-xl font-bold">Newsletter</h3>
            <p class="text-sm">Suscribete para recibir ofertas y promociones</p>
            <div class="border-b border-gray-500 w-fit outline-none">
              <input type="email" class="p-2 bg-gray-100" placeholder="Email" />
              <span class="cursor-pointer"><i class="bx bx-envelope"></i></span>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="../js/init.js"></script>
  </body>
</html>
